<h1 class="text-2xl text-gray-900 font-bold text-center m-10">
  <a class="text-1xl font-bold">
    <%= @smile_price.user.name %>
  </a>
  さんのスマイルは、
  <a class="text-6xl font-bold">
    <%= @smile_price.price %> 
  </a>
  円です！  
</h1>
<h2 class="text-2xl text-gray-900 font-bold text-center m-12">そのスマイルで以下のマックメニューを買おう！</h2>
<div class="flex flex-wrap mx-2">
  <% @smile_price.mac_menus.each do |mac_menu| %>
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-2 mb-4">
      <div class="relative h-0" style="padding-bottom: 75%">
        <%= image_tag mac_menu.image, class: 'absolute h-full w-full object-cover', id: 'preview' %>
      </div>
      <div class="px-4 py-2">
        <h3 class="text-lg font-bold text-gray-900 mb-2"><%= mac_menu.name %></h3>
        <div class="text-gray-700 font-bold"><%= mac_menu.price %>円</div>
      </div>
    </div>
  <% end %>
</div>

<%= form_with model: @smile_price, method: :patch, class: "max-w-xl rounded-lg mx-auto", local: true do |f| %>

  <div class="form-group flex items-center mt-3 mb-3">
    <%= f.check_box :is_published, class: "form-checkbox h-5 w-5 text-black border border-black bg-white mr-2" %>
    <%= f.label :is_published, '公開', class: "text-gray-900" %>
  </div>

  <%= f.label "感想投稿", class: "text-lg font-bold text-gray-900 mb-5" %>
  <%= f.text_area :body, class: "w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>

  <div class="flex justify-center">
    <a class="mt-4 px-6 py-2 bg-red-500 text-white rounded-full hover:bg-red-700 transition duration-200">
      <%= f.submit "share", class: "cursor-pointer" %>
    </a>
  </div>
<% end %>

<%= link_to "みんなのスマイル",  smile_prices_path, class: "bg-yellow-500 hover:bg-yellow-700 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg"  %>