
<%= render "result_smileprice" %>
<%= form_with model: @smile_price, method: :patch, class: "max-w-xl rounded-lg mx-auto", local: true do |f| %>

  <div class="form-group flex items-center mt-3 mb-3">
    <%= f.check_box :is_published, class: "form-checkbox h-5 w-5 text-black border border-black bg-white mr-2" %>
    <%= f.label :is_published, '公開', class: "text-gray-900" %>
  </div>

  <%= f.label "感想投稿", class: "text-lg font-bold text-gray-900 mb-5" %>
  <%= f.text_area :body, class: "w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2 mb-5" %>

  <div class="flex flex-wrap justify-center gap-4">
  <a class="flex items-center justify-center bg-red-500 hover:bg-red-700 text-white rounded-full py-2 px-4 md:px-6 font-bold text-sm md:text-base w-full sm:w-auto mb-3">
    <%= f.submit "アプリ内 Share", class: "cursor-pointer" %>
  </a>
  <%= link_to "https://twitter.com/share?url=https://www.smile-price.com/#{twitter_share_message(@smile_price)}", target: '_blank', class:"flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white rounded-full py-2 px-4 md:px-6 font-bold text-sm md:text-base w-full sm:w-auto mb-3" do %>
    <i class="fab fa-twitter mr-2"></i>
    <span>Twitter Share</span>
  <% end %>
  <%= link_to "みんなのスマイル",  smile_prices_path, class: "flex items-center justify-center bg-yellow-500 hover:bg-yellow-700 text-white rounded-full py-2 px-4 md:px-6 font-bold text-sm md:text-base w-full sm:w-auto mb-3"  %>
</div>
<% end %>