<h1 class="text-5xl text-gray-900 font-bold text-center m-5">みんなのスマイル</h1>
<div class="flex flex-wrap mx-2">
  <% @smile_prices.each do |smile_price| %>
    <div class="border w-full mb-2">
      <%= link_to smile_price_path(smile_price), class: 'hover:no-underline' do %>
        <h1 class="text-1xl text-gray-900 font-bold text-center m-3">
          <span class="text-2xl font-bold hover:text-red-500">
            <%= smile_price.user.name %>
          </span>
          さんのスマイルは、
          <span class="text-4xl font-bold hover:text-red-500">
            <%= smile_price.price %>
          </span>
          円
        </h1>
      <% end %>
      <h1 class="text-2xl text-gray-900 font-bold text-center m-3">
        感想:
        <%= smile_price.body %>
      </h1>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mx-2">
        <% smile_price.mac_menus.each do |mac_menu| %>
          <div class="px-2 mb-4">
            <div class="relative h-0" style="padding-bottom: 75%">
              <%= image_tag mac_menu.image, class: 'absolute h-full w-full object-cover', id: 'preview' %>
            </div>
            <div class="px-4 py-2">
              <h3 class="text-sg font-bold text-gray-900 mb-2"><%= mac_menu.name %></h3>
              <div class="text-gray-700 font-bold"><%= mac_menu.price %>円</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= paginate @smile_prices, class: "text-gray-700 font-bold" %>
</div>