<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">スマイル診断</h2>
    <%= form_with url: smile_prices_path, method: :post, class: "max-w-lg border rounded-lg mx-auto", local: true do |f| %>
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <div>
          <%= f.label :image, class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
          <%= f.file_field :image, type: "file", onchange: 'previewImage()', class: "w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
        </div>
        <div class="flex items-center justify-center mb-2 border border-black-500 p-2 rounded">
          <%= image_tag 'sample.jpeg', class: 'h-150 w-250 object-contain', id: 'preview' %>
        </div>

        <div class="actions">
          <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function previewImage() {
      console.log(1111);
      const target = this.event.target;
      const file = target.files[0];
      const reader  = new FileReader();
      reader.onloadend = function () {
          const preview = document.querySelector("#preview")
          if(preview) {
              preview.src = reader.result;
          }
      }
      if (file) {
          reader.readAsDataURL(file);
      }
  }
</script>
<%# <%= javascript_pack_tag "common" %> %>
