<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
  <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">スマイル診断</h2>
  <h3 class="text-gray-800 text-1xl lg:text-1xl font-bold text-center mb-4 md:mb-8">写真は、保存しないので安心して投稿できます。</h3>

  <div class="max-w-lg border rounded-lg mx-auto">
    <h4 class="text-gray-800 text-1xl lg:text-1xl font-bold text-center my-4 md:mb-8 mx-2">
      Webカメラで撮影もしくは、添付写真で診断するかを<br>
      選択してください。
    </h4>
    <div class="flex justify-center my-5">
      <button id="show-camera", class="bg-red-500 hover:bg-red-700 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg mr-4">Webカメラ撮影</button>
      <button id="show-form", class="bg-yellow-500 hover:bg-yellow-700 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg">添付写真</button>
    </div>
    <div id="error-message-area"></div>
    <div id="camera-section" style="display:none;">
      <div class="flex flex-col gap-4 p-5">
        <div class="flex items-center justify-center mb-2 border border-black-500 p-2 rounded">
          <video id="webcam" autoplay></video>
        </div>
        <div class="flex justify-center">
          <a class="px-6 py-2 bg-red-500 text-white rounded-full hover:bg-red-700 transition duration-200">
            <button id="capture" type="button" class="m-0">撮影</button>
          </a>
        </div>
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
      </div>
    </div>

    <div id="form-section" style="display:none;">
      <%= form_with url: smile_prices_path, method: :post, local: true do |f| %>
        <div class="flex flex-col gap-4 p-4 md:p-8">
          <div>
            <%= f.label :image, class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
            <%= f.file_field :image, type: "file", onchange: 'previewImage(event)', class: "w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
          </div>
          
          <div class="flex items-center justify-center mb-2 border border-black-500 p-2 rounded">
            <%= image_tag 'sample.jpeg', class: 'h-150 w-250 object-contain', id: 'preview' %>
          </div>
          
          <div class="flex justify-center">
            <a class="mt-4 px-6 py-2 bg-red-500 text-white rounded-full hover:bg-red-700 transition duration-200">
              <%= f.submit "送信" %>
            </a>
          </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<%= javascript_pack_tag 'preview_image' %>
<%= javascript_pack_tag 'web_camera' %>
