<%= render "result_smileprice" %>
<div class="max-w-xl rounded-lg mx-auto">
  <div class="mb-3">
    <h2 class="text-lg font-bold text-gray-900 mb-3">公開状態</h2>
    <% if @smile_price.is_published %>
      <p class="text-gray-900">公開中</p>
    <% else %>
      <p class="text-gray-900">非公開</p>
    <% end %>
  </div>

  <div class="mb-5">
    <h2 class="text-lg font-bold text-gray-900 mb-3">感想投稿</h2>
    <p class="w-full bg-gray-50 text-gray-800 border rounded px-3 py-2">
      <%= @smile_price.body %>
    </p>
  </div>

  <div class="flex justify-center">
    <%= link_to "みんなのスマイル", smile_prices_path, class: "bg-red-500 hover:bg-red-700 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg mr-4" %>
    <% if current_user == @smile_price.user %>
      <%= link_to "edit", edit_smile_price_path(@smile_price), class: "bg-yellow-500 hover:bg-yellow-700 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg mr-4" %>
    <% end %>
    <%= link_to "https://twitter.com/share?url=https://www.smile-price.com/#{@smile_price.id}/#{twitter_share_message(@smile_price)}", target: '_blank', class:"bg-blue-500 hover:bg-blue-700 text-white rounded-full py-1 md:py-2 px-4 md:px-6 font-bold text-base md:text-lg" do %>
        <i class="fab fa-twitter "></i>
        <span>Twitter Share</span>
      <% end %>
  </div>
</div>
