<%= render "result_smileprice" %>
<div class="max-w-xl rounded-lg mx-auto">
  <div class="mb-3">
    <h2 class="text-lg font-bold text-gray-900 mb-3">公開状態</h2>
    <% if @smile_price.is_published %>
      <p class="text-gray-900">公開中</p>
    <% else %>
      <p class="text-gray-900">非公開</p>
    <% end %>
  </div>

  <div class="mb-5">
    <h2 class="text-lg font-bold text-gray-900 mb-3">感想投稿</h2>
    <p class="w-full bg-gray-50 text-gray-800 border rounded px-3 py-2">
      <%= @smile_price.body %>
    </p>
  </div>

  <div class="flex flex-wrap justify-center gap-4">
    <%= link_to "みんなのスマイル", smile_prices_path, class: "flex items-center justify-center bg-red-500 hover:bg-red-700 text-white rounded-full py-2 px-4 md:px-6 font-bold text-sm md:text-base w-full sm:w-auto mb-3" %>
    <% if current_user == @smile_price.user %>
      <%= link_to "edit", edit_smile_price_path(@smile_price), class: "flex items-center justify-center bg-yellow-500 hover:bg-yellow-700 text-white rounded-full py-2 px-4 md:px-6 font-bold text-sm md:text-base w-full sm:w-auto mb-3" %>
    <% end %>
    <%= link_to "https://twitter.com/share?url=https://www.smile-price.com/#{twitter_share_message(@smile_price)}", target: '_blank', class:"flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white rounded-full py-2 px-4 md:px-6 font-bold text-sm md:text-base w-full sm:w-auto mb-3" do %>
      <i class="fab fa-twitter mr-2"></i>
      <span>Twitter Share</span>
    <% end %>
  </div>
</div>
